{% extends 'admin/base.html' %}

{% block access_control %}
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_admin %}
           <li id="current_user_name">
              <a>
                Hi, {{ current_user.get_username() }} (Admin)
              </a>
           </li>
           <li><a href={{ url_for('user.on_logout') }}><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
        {% else %}
            <li><a href={{ url_for('user.get_signup') }}><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a href={{ url_for('user.get_login') }}><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block tail %}
    {% include "public/footer.html" %}
{% endblock %}