<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ "DOCK Blaster - " + title }}</title>
    {% else %}
        <title>DOCK Blaster</title>
    {% endif %}
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<script src="static/jQuery.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">DOCK Blaster</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href= {{ url_for('dock.dock_files') }}>DOCK Files</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href={{ url_for('user.get_signup') }}><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            {% if current_user.is_authenticated %}
                <li><a href={{ url_for('user.on_logout') }}><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
            {% else %}
                <li><a href={{ url_for('user.get_login') }}><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
      <div class="page-header">
          {% if heading %}
              <h1> {{ heading.upper() }} </h1>
          {% else %}
              <h1> DOCK Blaster </h1>
          {% endif %}
      </div>
      <p>
          {% block content %}
          {% endblock %}
      </p>
    </div>
</body>
</html>