<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ "DOCK Blaster - " + title }}</title>
    {% else %}
        <title>DOCK Blaster</title>
    {% endif %}
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/DataTable/dataTables.bootstrap.css">
{#    <link rel="stylesheet" href="/static/Metro/build/css/metro.min.css">#}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/static/jQuery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/DataTable/datatables.js"></script>
    <script src="/static/DataTable/dataTables.bootstrap.js"></script>
{#    <script src="/static/Metro/build/js/metro.min.js"></script>#}

    <link rel="stylesheet" href="/static/dockblaster.css">
    <script src="/static/dockblaster.js"></script>
</head>
<body>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    {% include "navbar.html" %}
    <div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                {% if category =='error' %}
                    {% set category='danger' %}
                {% endif %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:0px">
                    <span aria-hidden="true" >&times;</span></button>
                {{ message|safe }}{{ type }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <div class="page-header">
          {% if heading %}
              <h1> {{ heading.upper() }} </h1>
          {% endif %}
          {% if sub_heading %}
            <h4>{{ sub_heading }}</h4>
          {% endif %}
      </div>
      <p>
          {% block content %}
          {% endblock %}
      </p>
    </div>
    {% include "footer.html" %}
</body>
</html>