{% extends "base_template.html" %}
{% block content %}
    <div class="container-fluid">
      {% set counter = 1 %}
      <div class="row">
          {% for job_data in job_data %}
            {% if (counter%4) == 0 %}
                </div>
                <div class="row">
            {% endif %}
                <div class="col-sm-3">
                    <div class = "thumbnail">
                        <a href="{{ url_for('dock.get_job_type', job_type=job_data["job_type_name"]) }}" class="tile">
                          <h3 class="title">{{ job_data["job_type_name"] }}</h3> </a>
                        <abbr>
                            <nobr>{{ job_data["job_description"] }}</nobr>
                        </abbr>
                    </div>
                </div>
                {% set counter = loop.index %}
          {% endfor %}
      </div>
    </div>
{% endblock %}