{% extends "base_template.html" %}
{% block content %}
    <div class="form-group row">
        <a href={{ url_for('dock.get_docking_options') }}>Back to Docking options</a>
    </div>
    <div class="container">
        <form action = {{ url_for('dock.submit_docking_data', job_type=job_data["job_type_name"]) }} enctype="multipart/form-data" method = "POST">
            <div class="form-group row">
                <label>Job Type Name:   {{ job_data["job_type_name"] }}</label>
            </div>
            <div class="form-group row">
                <label>Job Full Name:   {{ job_data["job_full_name"] }}</label>
            </div>
            <div class="form-group row">
                <label>Job Description:     {{ job_data["job_description"] }}</label>
            </div>
            {% set counter = 0 %}
            {% for input_type in job_data["inputs"] %}
                {% set form_name =  job_data["job_type_name"] + "_" + input_type["type"] + "_" + loop.index|string %}
                {% if input_type["type"] == "file_upload" %}
                    {% set input_name = input_type["file_name"].split(".")[0] %}
                    <div class="form-group row">
                        <label class="required-field">{{ input_type["file_name"] }}</label>
                        <input type="file" class="form-control-file" name="{{ form_name }}" id= "{{ input_name }}" aria-describedby="fileHelp" required="true">
                        <small id="fileHelp" class="form-text text-muted">{{ input_type["display_text"] }}</small>
                    </div>
                {% elif input_type["type"] == "text_box" %}
                    <div class="form-group row">
                        <label class="required-field">{{ input_type["file_name"] }}</label>
                        <input type="text" class="form-control-file" name="{{ form_name }}" id= "{{ input_name }}" aria-describedby="fileHelp" required="true">
                        <small id="fileHelp" class="form-text text-muted">{{ input_type["display_text"] }}</small>
                    </div>
                {% elif input_type["type"] == "drop_down" %}
                    <div class="form-group row">
                        <select class="custom-select" name="{{ form_name }}" id= "{{ input_name }}">
                            <option selected>Options</option>
                            {% for option in input_type["values"] %}
                                <option value={{ option }}>{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% elif input_type["type"] == "radio_button" or input_type["type"] == "radiobutton" %}
                    <div class="form-group row">
                        <label class="required-field">{{ input_type["file_name"] }}</label>
                            <div class="custom-controls-stacked">
                                {% for option in input_type["values"] %}
                                    <input type="radio" class="custom-control-input" aria-describedby="fileHelp" name="{{ form_name }}" id="{{ option }}">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ option }}</span>
                                {% endfor %}
                            </div>
                        <small id="fileHelp" class="form-text text-muted">{{ input_type["display_text"] }}</small>
                    </div>
                {% elif input_type["type"] == "check_box" or input_type["type"] == "checkbox" %}
                    <div class="form-group row">
                        <label class="required-field">{{ input_type["file_name"] }}</label>
                        {% for option in input_type["values"] %}
                            <input type="checkbox" class="custom-control-input" id= "{{ option }}" aria-describedby="fileHelp" name="{{ form_name }}">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ option }}</span>
                        {% endfor %}
                        <small id="fileHelp" class="form-text text-muted">{{ input_type["display_text"] }}</small>
                    </div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}



