{% extends "base_template.html" %}
{% block content %}
    <div>
        <a href={{ url_for('dock.get_docking_options') }}>Back to Docking options</a>
    </div>
    <div class="container">
        <form action = "/dock/submit_ligand_receptor_data" enctype="multipart/form-data" method = "POST">
            <div class="form-group row">
                <label for="receptorFile">Receptor</label>
                <input type="file" class="form-control-file" name="receptorFile" id="receptorFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Upload your Receptor input file.</small>
            </div>
            <div class="form-group row">
                <label for="ligandFile">Ligand</label>
                <input type="file" class="form-control-file" name="ligandFile" id="ligandFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Upload your Ligand input file.</small>
            </div>
            <div class="form-group row">
                <label for="expertFile">Expert.tar</label>
                <input type="file" class="form-control-file" name="expertFile" id="expertFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Upload your Expert.tar input file.</small>
            </div>
            <div class="form-group row">
                <label for="numberOfTries">Number of tries</label>
                <input type="number" class="form-control bfh-number col-sm-1" name="numberOfTries">
                <small id="fileHelp" class="form-text text-muted">Enter the number of tries.</small>
            </div>
            <div class="form-group row">
                <label for="numberOfTries">Comments</label>
                <input type="text" class="form-control bfh-number col-sm-1" name="jobDescription">
                <small id="fileHelp" class="form-text text-muted">Enter description/comments on the job.</small>
            </div>
            <div class="form-group row">
                <input type="hidden" name="jobTypeID" value="1"/>
                <input type="hidden" name="jobTypeName" value="cluster"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}