{% extends "base_template.html" %}
{% block content %}
    <div>
        <a href={{ url_for('dock.get_docking_options') }}>Back to Docking options</a>
    </div>
    <form>
      <div class="form-group">
        <label>First Integer</label>
        <input type="text" class="form-control" id="integerTextBoxFirst" placeholder="Enter Integer">
      </div>
      <div class="form-group">
        <label>Second Integer</label>
        <input type="text" class="form-control" id="integerTextBoxSecond" placeholder="Enter Integer">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}