.required-field::after {
    content: "*";
    color: red;
}

.footer{
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    height: 60pt;
    line-height: 60pt;
    bottom: 0;
}

#docking_options .link-color{
    color: white;
}

#docking_options .panel-primary a:hover{
    text-decoration: none;
}

#docking_options .panel-primary:hover {
    background-color: #9cc2e3;
}

#docking_options .grid-specs{
    min-height: 100pt;
    color: darkblue;
}

#docking_options .grid-specs:hover{
    text-decoration: none !important;
}

#docking_options .panel-heading{
    max-height: 35pt;
}