.required-field::after {
    content: "*";
    color: red;
}

.footer{
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    height: 60pt;
    line-height: 60pt;
    bottom: 0;
}

#docking_options{
    overflow: scroll;
    padding-bottom:60pt;
}

#docking_options .link-color{
    color: white;
}

#docking_options .panel-primary a:hover{
    text-decoration: none;
}

#docking_options .panel-primary:hover {
    background-color: #9cc2e3;
}

#docking_options .grid-specs{
    min-height: 100pt;
    color: darkblue;
}

#docking_options .grid-specs:hover{
    text-decoration: none !important;
}

#docking_options .panel-heading{
    max-height: 35pt;
}

#dock_jobs_container #description_box{
    padding: 10pt;
    border-radius: 10pt;
    position: relative;
    left: -15pt;
    background-color: #CDDDDE;
}

.back-to-docking-options{
    position: relative;
    left: 10pt;
}

#button_dock{
    position: relative;
    left: -12pt;
    border-radius: 4pt;
}

#dock_results_container .file-icons{
    font-size: 48px;
    color: #386BB9;
}

.current-user-name{
    color: white;
}

#dock_results_container .dock-results-file-logo{
    padding: 5pt;
}

#dock_results_container .result-files, .result-dirs {
    font-size: 15pt;
    text-decoration: none;
    padding: 8pt;
}

#dock_results_container .back-link {
    font-size: 15pt;
}