<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ "DOCK Blaster - " + title }}</title>
    {% else %}
        <title>DOCK Blaster</title>
    {% endif %}
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<script src="static/jQuery.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <a href="index"> Home Page</a>
    </div>
    <div>
        <div> <a href="login">Login</a> </div>
        <div> <a href="dock_files">DOCK Files</a> </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {% if heading %}
            <p> {{ heading.upper() }} </p>
        {% else %}
            <p> DOCK Blaster </p>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>