{% extends "public/base_template.html" %}
{% block content %}
    <div class="container-fluid" id ="docking_options_container">
      {% set counter = 1 %}
      <div class="row grid-specs metro">
          {% for job_data in job_data %}
            {% if (counter%4) == 0 %}
                </div>
                <div class="row grid-specs metro">
            {% endif %}
                <div class="col-md-3 col-lg-3">
                    <a class="link-color tile" href="{{ url_for('dock.get_job_type', job_type=job_data["job_type_name"]) }}">
                        <div class="panel panel-primary job-type-grid">
                            <div class="panel-heading">
                                <h4 class="title">{{ job_data["job_type_name"] }}</h4>
                            </div>
                            <div class="panel-body grid-specs tool-tip">
                               {{ job_data["job_description"] }}
                                <span class="tooltip-text">
                                    {{ job_data["job_description"] }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {% set counter = loop.index %}
          {% endfor %}
      </div>
    </div>

{% endblock %}